# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

#macOS files
.DS_Store

#config files
tsconfig.json
tsconfig.paths.json
.eslintrc.json
# webpack.config.js

